fibonaccify_humannature.ipynb filter=lfs diff=lfs merge=lfs -text
fibonaccistretch_humannature.ipynb filter=lfs diff=lfs merge=lfs -text
/Users/usdivad/Documents/tech/fibonacciswing/data/out_humannature_90s_stretched.mp3 filter=lfs diff=lfs merge=lfs -text
/Users/usdivad/Documents/tech/fibonacciswing/data/tresillo_rhythm.mp3 filter=lfs diff=lfs merge=lfs -text
/Users/usdivad/Documents/tech/fibonacciswing/data/tresillo_rhythm_notation.png filter=lfs diff=lfs merge=lfs -text
/Users/usdivad/Documents/tech/fibonacciswing/data/humannature_30s.mp3 filter=lfs diff=lfs merge=lfs -text
fibonaccistretch.ipynb filter=lfs diff=lfs merge=lfs -text
