fibonaccify_humannature.ipynb filter=lfs diff=lfs merge=lfs -text
fibonaccistretch_humannature.ipynb filter=lfs diff=lfs merge=lfs -text
/Users/usdivad/Documents/tech/fibonacciswing/data/out_humannature_90s_stretched.mp3 filter=lfs diff=lfs merge=lfs -text
/Users/usdivad/Documents/tech/fibonacciswing/data/tresillo_rhythm.mp3 filter=lfs diff=lfs merge=lfs -text
/Users/usdivad/Documents/tech/fibonacciswing/data/tresillo_rhythm_notation.png filter=lfs diff=lfs merge=lfs -text
/Users/usdivad/Documents/tech/fibonacciswing/data/humannature_30s.mp3 filter=lfs diff=lfs merge=lfs -text
data/figs/output_111_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_30_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_36_0.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_49_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_83_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_16_2.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_25_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_36_3.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_42_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_78_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_113_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_121_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_126_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_128_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_12_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_135_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_23_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_36_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_36_2.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_63_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_65_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_118_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_123_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_130_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_133_1.png filter=lfs diff=lfs merge=lfs -text
data/figs/output_57_1.png filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/20.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/3.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/4.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/8.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/10.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/11.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/17.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/2.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/9.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/12.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/14.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/16.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/7.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/0.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/15.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/6.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/19.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/21.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/5.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/1.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/13.mp3 filter=lfs diff=lfs merge=lfs -text
data/ipd_audio/18.mp3 filter=lfs diff=lfs merge=lfs -text
data/einekleinenachtmusik_30s.mp3 filter=lfs diff=lfs merge=lfs -text
data/imtheone_cropped_chance_60s.mp3 filter=lfs diff=lfs merge=lfs -text
data/pinkandwhite_30s.mp3 filter=lfs diff=lfs merge=lfs -text
data/tresillo_rhythm.mp3 filter=lfs diff=lfs merge=lfs -text
data/04[[:space:]]Gold[[:space:]]Digger.mp3 filter=lfs diff=lfs merge=lfs -text
data/Michael[[:space:]]Jackson[[:space:]]-[[:space:]]Human[[:space:]]Nature.mp3 filter=lfs diff=lfs merge=lfs -text
data/humannature_90s.mp3 filter=lfs diff=lfs merge=lfs -text
data/imtheone_cropped_chance_30s.mp3 filter=lfs diff=lfs merge=lfs -text
data/out_humannature_90s_euclidean_tempostretched.mp3 filter=lfs diff=lfs merge=lfs -text
data/golddigger_60s.mp3 filter=lfs diff=lfs merge=lfs -text
data/humannature_30s.mp3 filter=lfs diff=lfs merge=lfs -text
data/humannature_60s.mp3 filter=lfs diff=lfs merge=lfs -text
data/out_humannature_90s_stretched.mp3 filter=lfs diff=lfs merge=lfs -text
data/chanchan_30s.mp3 filter=lfs diff=lfs merge=lfs -text
data/chanchan_60s.mp3 filter=lfs diff=lfs merge=lfs -text
data/out_einekleinenachtmusik_30s_swing.mp3 filter=lfs diff=lfs merge=lfs -text
*.html linguist-generated=true
